{% extends "master.html" %}


{% block content%}
<title>User</title>

<center>
  <h1><b><u> Registration of people</u></b></h1> <br>

<form action="" method="POST">
  {% csrf_token %}

  Name:   <input type="text" placeholder="Enter your Name" name="Name" required><br><br>
  Email:  <input type="text" placeholder="Enter your Email" name="Email"  required><br><br>
  Address:  <input type="text" placeholder="Enter your Address" name="Address"  required><br><br>
  Age :<input type="integer" placeholder="Enter your Age" name="Age" required><br><br>
  Gender:
        <label><input type="radio"  name="Gender" value="male">Male</label>
        <label><input type="radio"  name="Gender" value="female">Female</label><br><br>
  Country:
   <select name="Country" id="country" required >
    <option value="" disabled selected >--Select country--</option>
    <option value="nepal">Nepal</option>
    <option value="india">India</option>
    <option value="china">China</option>
   </select>
  
       

  <div class="input-box button">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div><br><br>
</div>
</form>
</center>
<hr>
<h1> List of People Entry</h1>
<table width="100%" border="1">
  <thread>
    <tr>
      <th>S.N</th>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Country</th>
      <th>Action</th>
  </thread>
<tbody>
  {% for User in userdata %}
  <tr>
  <td>{{forloop.counter}}</td>
  <td>{{User.Name}}</td>
  <td>{{User.Email}}</td>
  <td>{{User.Address}}</td>
  <td>{{User.Age}}</td>
  <td>{{User.Gender}}</td>
  <td>{{User.Country}}</td>
  <td>
    <a href="edit/{{User.id}}" class="btn btn-success btn-sm">Edit</a>
    <a href="delete/{{User.id}}" class="btn btn-danger btn-sm" onclick = "return confirm('Are you sure?')">Delete</a>
  </td>
</tr>
 {% endfor %}
</tbody>
  
</table>

{% endblock %} 